{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Profil Listesi {% endblock %}

{% block container %}
<div class="container profile-head">
  <div class="row">
    <!-- <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }}</h1>
      {% if editable %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Profili Düzenle</a>
      {% endif %}
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div> -->
  </div>
</div>


{% for dict in users_with_comments %}

  {{ dict.profile.user.name }} <a href="{% url 'comments:comment_create' object_id=dict.profile.pk %}"> Comment </a> 
   <a href="{% url 'comments:comment_list' pk=dict.profile.pk %}"> {{ dict.comments.count }} yorum yapılmış. </a> 

{% endfor %}


{% endblock %}